.crypto-table {
  width: 100%;
  padding: 10px 0px;
  display: table;
}

th, .table-headers {
  white-space: nowrap;
  color: var(--gray);
  font-size: .8rem;
  font-weight: 400;
}

td, th {
  padding: 10px 6px 10px 20px;
  text-align: left;
  vertical-align: middle;
  font-size: .8rem;
  min-width: 21%;
}

tr {
  display: table-row;
  vertical-align: middle;
  border-top: .8px solid var(--line);
  display: flex;
  align-items: center;
  transition: background-color .25s, color .25s;
}

tr:hover {
  background-color: rgba(250, 250, 250, .98);
}

.table-coin-name-cell {
  padding: 1px 8px;
  display: flex;
  justify-content: center;
}

.fa-regular {
  color: var(--line);
}

.unset > .fa-solid {
  color: var(--primary);
}

.buy-tab, .sell-tab, .fund-tab {
  color: var(--black);
  padding: 20px 8px;
  width: 100%;
  border-bottom: .8px solid var(--line);
  text-align: center;
  vertical-align: middle;
  transition: background-color .25s, color .25s;
  white-space: nowrap;
  font-size: .8rem;
  font-weight: 600;
  font-size: .9rem;
}

.buy-tab {
  border-top-left-radius: 4px;
}

.fund-tab {
  border-top-right-radius: 4px;
}

.sell-tab, .fund-tab {
  border-left: .8px solid var(--line);
}

.buy-tab:hover, .sell-tab:hover, .fund-tab {
  background-color: rgba(250, 250, 250, .98);
}

.trade-modal-button {
  position: absolute;
  right: 8;
  margin-right: 56px;
  height: 38px;
}


/* Trade Form Styling... */
.amount-input-container {
  margin: 45px 5px 30px 5px;
}

.fa-xmark {
  padding: 8px;
}

.amount-input {
  all: unset;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  width: 30px;
  height: 40px;
  font-size: 50px;
  text-align: center;
  transition: width 300ms;
  -moz-appearance: textfield;
}

.amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount-input:focus {
  color: var(--primary);
  width: 100%;
}

.amount-label {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  text-align: center;
  color: var(--gray);
  opacity: .90;
}

.select-inputs {
  border: .8px solid var(--line);
  border-radius: 10px;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 6px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.select-field-last {
  border-top: .8px solid var(--line);
}

.select-field, .select-field-last {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-field > select, .select-field-last > select {
  border: none;
  outline: none;
  padding: 16px;
  margin: 0px 10%;
  font-size: .8rem;
  width: 60%;
}

.select-field > select:active, .select-field-last > select:active {
  border: transparent;
}

.select-field > label, .select-field-last > label {
  margin-left: 10px;
}
