.crypto-table {
  width: 100%;
  padding: 10px 0px;
  display: table;
}

th, .table-headers {
  white-space: nowrap;
  color: var(--gray);
  font-size: .8rem;
  font-weight: 400;
}

td, th {
  padding: 10px 6px 10px 20px;
  text-align: left;
  vertical-align: middle;
  font-size: .9rem;
  min-width: 21%;
}

tr {
  display: table-row;
  vertical-align: middle;
  border-top: .8px solid var(--line);
  display: flex;
  align-items: center;
}

.table-coin-name-cell {
  padding: 1px 8px;
  display: flex;
  justify-content: center;
}

.fa-regular {
  color: var(--line);
}

.fa-solid {
  color: var(--primary);
}

.buy-tab, .sell-tab, .fund-tab {
  color: var(--black);
  padding: 20px 8px;
  width: 100%;
  border-bottom: .8px solid var(--line);
  text-align: center;
  vertical-align: middle;
  transition: background-color .25s, color .25s;
  white-space: nowrap;
  font-size: .8rem;
  font-weight: 600;
  font-size: .9rem;
}

.sell-tab, .fund-tab {
  border-left: .8px solid var(--line);
}

.buy-tab:hover, .sell-tab:hover, .fund-tab {
  background-color: rgba(250, 250, 250, .98);
}

.trade-modal-button {
  position: absolute;
  right: 8;
  margin-right: 50px;
}
