/* TODO Add site wide styles */

/*
Heebo:wght@100;300;400;500;600;700
Poppins:wght@100;200;300;400;500;600;700
Roboto:wght@100;300;400;500;700
Yantramanav:wght@400;500;700
*/

:root {
  --primary: #0052FF;
  --background: #003EC108;
  --elements: #fff;
  --black: #0A0B0D;
  --gray: #5B616E;
  --green: #098551;
  --red: #CF202F;
  --line: rgba(91, 97, 110, 0.2);
}

.primary {
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Heebo', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Yantramanav', sans-serif; */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--elements);
}

.container {
  max-width: 1240px;
  margin: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

h1 {
  font-size: 2.4rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.2;
}

h3 {
  font-size: 2.6rem;
  font-weight: 400;
}

h4 {
  font-size: 2.2rem;
  font-weight: 400;
}

h5 {
  font-size: 1.6rem;
  font-weight: 400;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.2;
}

p {
  font-size: 1.2rem;
}

.button, button {
  padding: 8px 12px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  transition: background-color .25s, color .25s;
  color: #fff;
  border-radius: 100px;
  font-size: .8rem;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
}

.button:hover {
  background-color: #0A46E4;
}

.muted-button {
  border: 1px solid var(--line);
  background-color: var(--elements);
  color: var(--black);
  margin: 8px 12px;
}

.muted-button:hover {
  background-color: rgba(250, 250, 250, .98);
}

.wide {
  width: 100%;
}

.large-button {
  height: 50px;
  border-radius: 100px;
}

label, .label {
  font-size: .6rem;
  font-weight: 500;
}

input {
  padding: 16px;
  border: .4px solid rgba(91, 97, 110, 0.66);
  transition: background-color .25s, color .25s;
  background-color: transparent;
  border-radius: 8px;
  margin: 5px 0px;
}

.link {
  color: var(--primary);
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.trade-form {
  max-width: 500px;
  padding: 18px;
}

.padded {
  padding: 20px;
}

.muted1 {
  color: var(--gray);
  font-size: .8rem;
}

.muted2 {
  color: var(--gray);
  font-size: .6rem;
  font-weight: 500;
}

.muted3 {
  color: var(--gray);
  font-size: .6rem;
}

.small-text {
  font-size: .9rem;
  padding-top: 30px;
}

.form-errors > p {
  color: var(--red);
  font-size: .6rem;
  font-weight: 500;
}

.unset {
  all: unset;
  cursor: pointer;
}

.bold1 {
  font-weight: bold;
  font-size: 1.1rem;
}

.bold2 {
  font-weight: bold;
  font-size: .9rem;
}

.nowrap {
  white-space: nowrap;
}

.green {
  color: var(--green);
  font-size: .8rem;
}

.red {
  color: var(--red);
  font-size: .8rem;
}

.blue {
  color: var(--primary);
  font-size: .8rem;
}






/* Dashboard Structure */
.dashboard-container {
  background-color: var(--background);
}

.dashboard-sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 84px 16px 16px 260px;
  height: 100vh;
  overflow-y: hidden;
  overflow: auto;
}

.left-section {
  margin: .2rem .5rem;
  width: 70%;
  max-width: 800px;
}

.right-section {
  margin: .2rem .5rem;
  width: 30%;
  max-width: 500px;
}

.card {
  background-color: var(--elements);
  border-radius: 4px;
  border: .8px solid var(--line);
  max-width: 800px;
}

.top-margin {
  margin-top: 12px;
}
