/* Login route */

.login-page-container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-form-demo {
  max-width: 500px;
  width: 100%;
  padding: 20px 40px;
}

.login-button {
  padding: 16px 18px;
  margin: 0px;
  margin-top: 10px;
  border-radius: 8px;
}



/* Sign up route */

.signup-page-container {
  padding-top: 100px;
}

.signup-page-container > .row {
  display: flex;
  justify-content: center;
  padding: 20px 60px;
  width: 100%;
}

.signup-left, .signup-right {
  display: flex;
  align-items: center;
}

.signup-left {
  max-width: 450px;
}

.signup-right {
  justify-content: flex-start;
  padding: 0px 40px;
  max-width: 450px;
}

.firstName-input {
  margin-right: 12px;
}

.pad-left {padding-left: 10px;}

.round {
  border-radius: 50px;
  padding: 12px 18px;
  margin: 0px;
  margin-top: 10px;
}
