.splash-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-bottom: .8px solid rgba(91, 97, 110, 0.08);
  background-color: var(--elements);
  height: 60px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 260px;
  border-bottom: .8px solid var(--line);
  height: 68px;
  background-color: var(--elements);
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-right-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.profile-button {
  position: absolute;
  margin: 0px 0px 0px 10px;
  z-index: 6;
}

.profile-dropdown > div {
  padding: 10px 30px;
}

.logout-button {
  padding: 10px 60px;
  border: none;
  margin-top: 18px;
  border-top: .8px solid var(--line);
  background-color: transparent;
  font-weight: 600;
  color: var(--red);
  transition: background-color .25s, color .25s;
}

.profile-dropdown > button:hover {
  background-color: rgba(250, 250, 250, .98);
}

.side-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 240px;
  border-right: .8px solid var(--line);
  background-color: var(--elements);
  padding: 10px;
  height: 100vh;
  z-index: 4;
  position: fixed;
}

.logo {
  padding: 12px 14px 24px 14px;
}

.navbar-container > li {
  all: unset;
  cursor: default;
  padding: 0px 10px;
}

.coinblock {
  /* font-family: 'Poppins', sans-serif; */
  font-size: 1.4rem;
}

.navlink {
  font-size: .8rem;
  font-weight: 500;
  padding: 0px 20px;
}

.sidenav {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 600;
  padding: 16px 18px;
  margin: 2px 0px;
  border-radius: 25px;
  overflow: hidden;
  white-space: nowrap;
  transition: background-color .25s, color .25s;
}

.fa-solid {
  margin-right: 10px;
}

.sidenav:hover {
  background-color: var(--background);
}

.activeTab {
  color: var(--primary);
  background-color: var(--background);
}
