
#asset-table-rows > td, #assets-table > thead > tr > th {
  padding: 10px 6px 10px 20px;
  text-align: left;
  vertical-align: middle;
  font-size: .8rem;
  min-width: 26%;
}





/* Tooltip */

.custom-tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 6px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.tooltip-value {
  font-weight: 600;
}

.tooltip-date {
  font-size: .6rem;
}

/* Chart */

.chart-container {
  width: 100%;
}

.chart-header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.time-select {
  padding: 0px 6px;
  transition: font-weight .55s, color .55s;
}

.time-select:hover {
  font-weight: 800;
  color: var(--primary);
}

.time-select-container {
  display: flex;
  justify-content: flex-end;
}



/* Misc */

/* Single Asset Page */

.single-asset-watchlist-star {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin: 21px 0px;
  background-color: var(--elements);
  border-radius: 4px;
  border: .8px solid var(--line);
  font-size: .9rem;
  font-weight: 600;
}

.single-asset-watchlist-star > button > i {
  padding-left: 10px;
}

.single-asset-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.gray {
  color: var(--gray);
  font-size: 1.2rem;
}


.news-title-link {
  padding-left: 20px;
}
