.splash-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-bottom: .8px solid var(--line);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-bottom: .8px solid var(--line);
}

.navbar-container > li {
  all: unset;
  cursor: default;
  padding: 0px 10px;
}
